.app__history {
  flex-grow: 1;

  display: none;
  flex-direction: column;

  transition: .2s linear;
  
  width: 100%;
}

.history__header {
  padding: 1.5rem 0;
}

.history__title {
  text-align: center;

  font-weight: 500;
  font-size: 1.5rem;
}

.history__list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.history__item {
  width: 100%;
  max-width: 450px;

  height: 47px;

  background-color: #fff;
  padding: .5rem;

  border-radius: .3rem;

  display: flex;
  align-items: center;

  transition: .2s linear;

  border: 1px solid transparent;

  &:hover {
    border-color: #000;
  }

  opacity: 0;

  &.display {
    opacity: 1 !important;
  }
}

.history__password {
  flex-grow: 1;

  user-select: none;
}

.history__item__tools {
  display: flex;
  gap: 0.5rem;

  align-items: center;
}

.history__copy,
.history__delete,
.history__save {
  display: block;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: none;
  border-radius: .3rem;

  cursor: pointer;

  transition: .1s linear;

  &:hover,
  &:focus {
    box-shadow: 0 0 .333rem #000;
    background-color: rgb(200, 200, 200);
    outline: none;
  }

  background-repeat: no-repeat;
  background-position: center center;
}

.history__copy {
  background-image: url(../images/icons/copy.png);

  &:hover,
  &:focus {
    background-color: rgb(62, 204, 58);
  }
}

.history__save {
  background-image: url(../images/icons/save.png);

  &:hover,
  &:focus {
    background-color: rgb(73, 143, 255);
  }
}

.history__delete {
  background-image: url(../images/icons/delete.png);
  
  &:hover,
  &:focus {
    background-color: rgb(255, 73, 73);
  }
}

.history__tools {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .5rem 0;

  gap: 1rem;

  position: relative;
}

.history__clear {
  background: none;
  border: none;

  cursor: pointer;

  font-size: 1rem;

  transition: .1s linear;

  position: absolute;

  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  &:hover,
  &:focus {
    color:rgb(255, 73, 73);
    outline: none;
  }
}