.prompt {
  position: absolute;

  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 150px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgb(199, 199, 199);

  z-index: 10;

  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;
  border: 1px solid #000;

  transition: .5s linear;
  opacity: 0;

  box-shadow: 0 0 .666rem #000;

  gap: 1rem;

  &__text {
    font-size: 1.3rem;
    text-align: center;
  }

  &__input {
    font-size: 1.1rem;
    border: 1px solid #000;
    border-radius: .5rem;
    outline: none;
    background: none;

    padding: .5rem;

    transition: .1s linear;

    &:focus {
      box-shadow: 0 0 .5rem #000;
      background-color: #fff;
    }
  }

  &__submit {
    font-size: 1.1rem;
    background: none;
    border: none;

    cursor: pointer;

    transition: .1s linear;

    &:focus,
    &:hover {
      color: rgb(35, 38, 200);
      outline: none;
    }
  }
}